<div class="ft-section">
  <h3><i class="fas fa-list-check"></i> Checklist</h3>
  {{#if checklist.length}}
    <ul class="ft-list">
      {{#each checklist as |c|}}
        <li class="ft-item" data-id="{{c.id}}">
          <span class="ft-label">{{c.label}}</span>
          <span class="ft-amt">{{#if c.done}}Done{{else}}Open{{/if}}</span>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="hint">No checklist entries yet.</p>
  {{/if}}
</div>
